body {
    background-color: lightgrey;
}

.tabla_encabezado {
    border: 1px solid black;
    text-align: center;
    width: 100%;
    font-family: Arial;
}

#h2_carreras {
    text-align: center;
    padding-top: 2%;
}

.tabla_carreras {
    text-align: center;
    width: 100%;
}

.matricula-imagen img {
    width: 1600px;
    height: 500px;
    margin-top: 5%;
    margin-left: 5%;
    max-width: 100%;
    border: 1px solid black;
}

#h2_estudiantes {
    text-align: center;
}

.tabla_estudiantes {
    width: 100%;
    border: 1px solid black;
    text-align: center;
}